useDynLib(SynExtend)

import(methods)
import(IRanges)
import(Biostrings)
import(DECIPHER)
import(S4Vectors)

importFrom("utils", "setTxtProgressBar", "txtProgressBar", "data", "object.size", "getS3method", "read.table")
importFrom("stats", "predict", "runif", "setNames", "rnorm", "optim", "kmeans", "density", "nls", "ppois", "pt", "pnorm", "as.dist", "fisher.test", "is.leaf", "pchisq")
importFrom("parallel", "mclapply", "detectCores")
importFrom("graphics", "hist", "points", "abline", "axis", "layout", "lines", "par")
importFrom("grDevices", "topo.colors")

export(NucleotideOverlap)
export(gffToDataFrame)
export(PairSummaries)
export(FindSets)
export(DisjointSet)
export(ExtractBy)
export(SequenceSimilarity)
export(SubSetPairs)
export(EstimRearrScen)
export(BlockExpansion)
export(BlockReconciliation)
export(BlastSeqs)
export(MakeBlastDb)
export(SelectByK)
export(SuperTree)
export(DPhyloStatistic)
export(PhyloDistance)
export(MoransI)
export(dendrapply)
export(FastQFromSRR)
export(FitchParsimony)
export(FastLabelOOM)

S3method(subset, 'dendrogram')

S3method(`[`, "LinkedPairs")
S3method(print, "LinkedPairs")

S3method(print, 'GenRearr')

export(EvoWeaver)
export(SpeciesTree)
S3method(show, 'EvoWeaver')
S3method(print, 'EvoWeaver')
S3method(`[`, 'EvoWeaver')
S3method(SpeciesTree, 'EvoWeaver')
S3method(predict, 'EvoWeaver')
S3method(PAProfiles, 'EvoWeaver')
S3method(CophProfiles, 'EvoWeaver')
S3method(RandCophProfiles, 'EvoWeaver')
S3method(Ensemble, 'EvoWeaver')

S3method(Jaccard, 'EvoWeaver')
S3method(Hamming, 'EvoWeaver')
S3method(MutualInformation, 'EvoWeaver')
S3method(GainLoss, 'EvoWeaver')
S3method(CorrGL, 'EvoWeaver')
S3method(ProfileDCA, 'EvoWeaver')
S3method(Behdenna, 'EvoWeaver')
S3method(PAPV, 'EvoWeaver')

S3method(MirrorTree, 'EvoWeaver')
S3method(ContextTree, 'EvoWeaver')
S3method(TreeDistance, 'EvoWeaver')

S3method(Coloc, 'EvoWeaver')
S3method(ColocMoran, 'EvoWeaver')
S3method(TranscripMI, 'EvoWeaver')

S3method(NVDT, 'EvoWeaver')
S3method(Ancestral, 'EvoWeaver')
S3method(ResidueMI, 'EvoWeaver')

S3method(plot, 'EvoWeb')
S3method(summary, 'EvoWeb')
S3method(show, 'EvoWeb')
S3method(print, 'EvoWeb')
S3method(as.data.frame, 'EvoWeb')
S3method(as.matrix, 'EvoWeb')

export(simMat)
export(as.simMat)
export(Diag)
export(`Diag<-`)
S3method(as.simMat, 'default')
S3method(show, 'simMat')
S3method(as.simMat, 'vector')
S3method(as.simMat, 'matrix')
S3method(print, 'simMat')
S3method(as.matrix, 'simMat')
S3method(`[`, 'simMat')
S3method(`[<-`, 'simMat')
S3method(Diag, 'simMat')
S3method(`Diag<-`, 'simMat')
S3method(names, 'simMat')
S3method(`names<-`, 'simMat')
S3method(as.data.frame, 'simMat')

