import(methods)
import(IRanges)
import(Biostrings)
import(DECIPHER)
import(S4Vectors)

importFrom("utils", "setTxtProgressBar", "txtProgressBar", "data", "object.size")
importFrom("stats", "predict", "runif", "setNames")

export(NucleotideOverlap)
export(gffToDataFrame)
export(PairSummaries)
export(FindSets)
export(DisjointSet)
export(ExtractBy)
export(SequenceSimilarity)
export(SubSetPairs)
export(EstimateRearrangementScenarios)
export(BlockExpansion)

S3method(`[`, "LinkedPairs")
S3method(print, "LinkedPairs")